/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
} */

.landing-page {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/landing_page.jpg");
    background-size: cover;
    height: 100vh;
}

.landing-page #nav {
    background-color: #e9e1c2;
    height: 72px;
}

.hover-border a:hover {
    border-bottom: black 2px solid;
}

.landing-page .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: rgb(255, 255, 255);
}

/* About Section */
#about {
    background-color: #f8f3dd;
}

/* Projects imgs */
#projects img {
    max-width: 100%;
    width: 450px;
    height: 350px;
}

.details-btn {
    padding: 10px 10px;
    background-color: #e9e1c2;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* Contact Section */
#contact {
    background-color: #f8f3dd;
}

#contact-form {
    background-color: white;
    border-radius: 10px;
}

textarea {
    height: 150px;
}

.contact-button {
    padding: 10px 50px;
    background-color: #e9e1c2;
    border: none;
    border-radius: 5px;
}

.footer {
    height: 150px;
    background-color: #ddb497;
}

.footer p {
    padding-top: 75px;
    
}